body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    background-color: #f79a04;
    color: #00bbff;
}

h1 {
    color: #0079fa;
    background-color: #ffffff;
    text-align: center;
}

p {
    color: #1f1d1d;
    font-size: 16px;
}


